body * {
    text-align: center;
    color: #ffffff;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

.imagen-viajes {
max-width: 2.5%!important;

}

.imagen-viajes .texto-viajes {
  display:block;
}

.texto-viajes p {
  color: white;
}

#contacto {
    scroll-behavior: smooth;
  }

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.card-img-top {
  height: 200px
}

.card-text {
  text-align:justify;
  color: #fff;
}

.card-title{
  font-weight: 700;
  color: #fff;
}

.parrafos {
  display: block;
  text-align: left;
  margin: 0 10px;
}

section {
  background-color: #111111 !important;
}

.fa-plane {
  color: white;
}

.fa-car {
  color: white;
}

.fa-anchor {
  color: white;
}

.card {
  margin: 10px;
}

.desc-head {
  background-color:#0dcaf0;
  padding: 2%;  
}

.desc-text  {
  text-align: justify;
  color: white
}

.somos {
  background-color: black;
 
}

h1 {
  text-align: center;
}

hr { 
  color: #ffffff!important;
  background-color: #ffffff!important;
  margin-left: 35px;
  margin-right: 35px;
}

.typeform-widget {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 50px;
  padding: 40px 0;
}

@media screen and (max-width:1200px) {
  .card {
    margin-left: 15px;
    margin-bottom: 23px; 
  }
}
.navbar-brand, .nav-link {
  font-size:1.3rem;
}

.nav-item {
  margin: 20px !important;
}

@media screen and (max-width:1200px) {
  .navbar-toggler{
    position: relative;
left: 20px;
  }
}

@media screen and (max-width:768px) {
  .imagen-viajes { 
      max-width: 10%!important;
  }
}

@media screen and (max-width:768px) {
  .navbar-bar .ml-auto ,a {
    
      text-align: left;
  
  }
}

@media screen and (max-width:768px) {
  .texto-viajes {
    margin-right: 80px!important;
  
  }
}

@media screen and (max-width:1200px) {
  .foot {
    position: relative;
    right: 28px;
  }
}

.container {
    max-width:100%;
    width: 100%;
}

.col-md-3{
    width:100%;
    float:left;
    margin:0;
}


.card {
  margin: 100 100;
  float: none; 
  
  
}
.fondo-footer {
  background-color: black;
}

h2 {
  color: white!important;
  text-align: center;
  font-size:2.5em!important;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 15px;
}

h3 {
  color: white!important;
  text-align: center;
  font-size:2.5em!important;
  vertical-align: middle;
}

h4 {
color: white!important;
font-size: 1.5em;

}

.fa-2x {
  margin: 0 0.3em;
  color: white!important;
}

.somos {
  padding: 40px 0;
}

.destacados {
  padding: 40px 0;
}

.typeform {
  padding: 40px 0;
}
